/* Import from Google Fonts */
@import url('[https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Libre+Baskerville:wght@700&display=swap](https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Libre+Baskerville:wght@700&display=swap)');

* {
    box-sizing: border-box  ;
}

body{
    background-color: rgb(228,238,248);
    font-family: 'Inter', sans-serif;
    color: rgb(159, 157, 157);
;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 120px 0 120px;
}

.shades-logo{
    margin-top: 0px;
    margin-left: -18px;
    
}

.logo-name{
   font-size: 22px;
   font-weight: 548;
   text-decoration: none;
   color: black;
   margin-left: 12px;
   margin-top: -25px;
   

   
}

.logo-name a{
    text-decoration: none;
    color: black;
}

.nav-bt{
    padding: 5px 26px 5px 26px;
    border: 2.8px solid rgb(59,130,246);
    border-radius: 3.2px;
    background-color: rgb(137,170,220, 0.0);
    font-family: 'Inter', sans-serif; 
    font-weight: bold;
    color: rgb(59,130,246);
    margin-top: 1px;
}

.nav .nav-logo{
    /* margin-top: 5px; */
    /* width: 14vh; */
    
    
    
}

.nav-bt:hover{
     color: lightgray;
     border-color: lightgray
}

.nav-bar{

}

.nav-bar a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;

}

.nav-bar > ul{
    list-style-type: none;
    margin:0px 0 0 -340px;
    /* margin-left: -500px; */
    padding:0px;
}

.nav-bar > ul > li > a {
    /* background:lightgrey; */
    margin-right: 15px;

}

.nav-bar > ul > li a:hover {
    color: rgb(59,130,246);;

}

.nav-bar > ul > li{
    float: left;
    text-align: center;
}
main div{
    
    display: grid;
    place-content: center;
    height: 75vh;
    text-align: center;
    


    
}

main h1{
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
    font-weight:700;
    margin-top: 6px;
    color: black;
}

h1{
    font-weight: 700;
}
main .maintext{
    margin-top: -18px;
    font-weight: bold;
}

.maintop{
    font-weight: 600;
    letter-spacing: 0.1em;
}


form input[type=text]{
    height: 40 px;
    border-radius: 3px;
    border: none;
    padding: 10px;
    margin-right: 3px;
    
}

form input[placeholder]{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: rgb(159, 157, 157); ;
}

form button{
    
    height: 42px;
    background-color: rgb(250,89,60);
    border-radius: 3px;
    border:none;
    padding: 0 50px 0 50px;
    font-weight: bold;
    color: white;
}

footer{
    display: flex;
    justify-content: space-around;
    margin-top: -25px;
    
}
h4{
    color: black;
    font-weight: bolder;
    

}
footer p{
    margin-top: -10px;
}

footer div{
    display: inline-block;
    height: 10vh;
    margin: 0 5px 0 5px;

}

.icon img{
    margin-bottom:23px

}

